body
{
border-color:black;
border-style:solid;
border-width:10px;
padding:10px;
height:620px;
border-bottom-style:none;
font-family:arial;
width:585px;
left:20%;
position:relative;
}

#leftcolumn
{
float:left;
width:25%;
background-color:#c8c8c8;
font-size:11px;
height:100%;
}

#leftul
{
position:relative;
top:-10px;
list-style:none;
text-align:left;
color:white;
background-color:black;

}

ul
{
list-style:none;
}

#leftul li
{
width:123%;
position:relative;
border-style:solid;
border-color:white;
border-width:1px;
border-bottom-width:0px;
left:-40px;
padding:5px;
padding-left:10px;
font-size:12px;
}



#blank
{
color:black;
height: 22px;
}

#chic
{
background-color:#505050;
height:20px;
font-weight:bold;
border-top-width:2px;
}

#c
{
color:red;
text-decoration:underline;
font-size:15px;
}

#hic
{
font-size:15px;
}

img
{
margin-bottom:0px;
position:relative;
top:-160px;
}

img.insert
{
position:relative;
margin-left:8px;
margin-bottom: 25px;
top:-12px;
}

#left
{
position:relative;
top:-30px;
padding:10px;
line-height:150%;
}

#rightcolumn
{
position:relative;
margin:2px;
border-style:solid;
width:75%;
left:25%;
border-width:0px;
}

#title
{
position:relative;
background-color:#505050;
font-weight:bold;
font-size:15px;
color:white;
border-width:5px;
border-style:solid;
border-color:#505050;
left:3px;
padding-left:5px;
top:-163px;
border-right:0px;
display:inline-block;
width:418px;
height:19px;
}

#rightul li
{
position:relative;
top:-462px;
left: -42px;
width:100%;
}



label.heading
{
position:relative;
top:-160px;
margin-top:15px;
font-size:11px;
font-weight:bold;
}

label.text
{
position:relative;
top:-160px;
font-size:13px;
line-height:150%;

}

li.righttext
{
position:relative;
left:10px;
padding-top:10px;
padding-left:10px;
}
